@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family:'bebas';
    src: url('../fontes/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    
    /* VAR - CORES */ 
    --cor0: #c5ebc6;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1b;
    
    /* VAR - FONTES*/
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'bebas','cursive'; 
    --fonte-android: 'android', 'cursive';

}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    color: #fff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;    
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.582);
    text-align: center;

}

header > p{
    color: #fff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

}

nav{
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 4px 3px 1px #00000047;
    text-decoration: none;

}

header > nav > a{
    color: #fff;
    padding: 10px;
    text-align: left;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-weight: bold;


}

header > nav > a:hover{
    color: var(--cor1);
    background-color: #c5ebc63d;
    border-radius: 5px;
    transition: 0.2s;

}

main {
    background-color: #fff;
    padding: 20px;
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 21px 1px rgba(0, 0, 0, 0.24);
    
}

main  h1, h2{
    font-family: var(--fonte-android);
    margin-top: 8px;
    margin-bottom: 8px;

}

main h2{
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);

}

main p{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main img{
    width: 100%;
}

.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor5);
    text-align: center;
    padding: 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
}

footer >p{
    color: #fff;
}