@charset "UTF-8";

body {
    background-color:lightgoldenrodyellow; 
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(153, 0, 0);
    background-color:goldenrod;
    }
h2 {
    color: darkred;

    }
p {    
    text-align: justify;
    }