@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;

}


/* CABEÇALHO */


header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;

    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


/* HERO */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: #333333;
    color: white;
}

.imagem p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.322);
}


/* RODAPÉ */

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}