@charset "UTF-8";

@font-face{
    font-family: 'berkshire';
    src: url('../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-sec: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: 'poppins';
    --font-txt: 'berkshire';
    
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;

}


/* CABEÇALHO */


header{
    background-color: black;
    color: white;
    text-align: center;


}

header > h1 {
    font-family: var(--font-titulo);
    font-variant: small-caps;
    font-size: 7vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


/* HERO */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    font-family: var(--font-txt);
}

section > p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: #333333;
    color: white;
    box-shadow: inset 0px 0px 140px 10px rgba(0, 0, 0, 0.719);
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.699);
    box-shadow:  0px 2px 40px 8px rgba(255, 255, 255, 0.151);
}

#img-01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img-02 {
    background-image: url('../imagens/background002.jpg');
    
}

/* RODAPÉ */

footer {
    font-family: var(--font-sec);
    font-size: 2vw;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}

footer p {
    padding-bottom: 14Apx;
}