@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(to right, #F1D8C9, #f7bd9a);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(165, 131, 113, 0.158);    
    width: 600px;
    padding: 10px ;
    margin: auto;
    
}
h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #8b540654;
}
h2{
    color: #125189;
}