@charset "UTF-8";

    @font-face {
        font-family: 'KaushanScript';
        src: url('fonts/KaushanScript-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

    }
    
    h1,h2{
        font-family: 'KaushanScript';
        font-weight: normal;
        font-style: normal;
    }