@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to left, #38627a 54%,#8fbdd1)
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #1e3a4696;
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    color: #ff5e00;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(124, 52, 14, 0.356);    
}
h2{
    color: rgb(63, 87, 221);
}