@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #46085a;


}

header > h1{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

header > p{
    color: #fff;
    font-weight: 500;
    margin: 0px 10px 30px 10px;
    text-align: center;
    min-width: 200px;    
}

header > nav{
    margin: 0px 10px 20px 10px;

}

header > nav > a{
    text-decoration: none;
    color: #ffffff9c;
    font-weight: 700;
    margin-right: 20px;
}
header > nav > a:hover{
    color: #fff;
    transform: scale(1.2);
}